{{> head }}
{{> navbar }}

<div class="row">
    
    <div class="col-8">

        <h1>Imagen</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui iste perspiciatis velit architecto numquam illo fugit quos tempore quidem est, et laudantium quasi aliquid facilis modi corrupti assumenda nobis aspernatur?
        </p>

    </div>
    
    
    <div class="col-4">
        <img src="assets/img/imagen1.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}