{{> head }}
{{> navbar }}


<div class="row" style="padding: 10px; width: 100%;">
    
    <div class="col-sm-8">

        <h1>{{titular}}</h1>
        <p>
            {{cuerpoNoticia}}
        </p>

    </div>
    
    
    <div class="col-sm-4">
        <img src="img/imagen1.jpg" class="img-thumbnail">
    </div>

</div>


{{> footer }}